<section id="resume" class="about">
    <div class="container">
        <div class="section-title">
            <h2>My CV</h2>
            <h3>Get to know <span>me</span></h3>
            <p>I'm a .NET developer with a passion for clean code.<br/>You can download my CV <a href="assets/cv2020.pdf">here</a>.</p>
        </div>

        <div class="row content">
            <div class="col-lg-6">
                <h2>Myself</h2>
                <p>I started experimenting with programming at age 8 when I got my hands on a QBasic book at the library.</p>
                <p>Fast-forward to college, where I'm studying Application Development. This is where I picked up C# and my passion for the .NET ecosystem started to grow.</p>
                <p>You can get most of the details from my CV (download link above). I've listed my current skills below:</p>
                <ul style="list-style-type: disc;">
                    <li>C# from version 4.0 and up</li>
                    <li>WPF 4.0</li>
                    <li>Git (and Github including Github Actions)</li>
                    <li>HTML 5 (and limited CSS 2/3)</li>
                    <li>Javascript (+ limited TypeScript)</li>
                    <li>.NET Core 2.1 - 3.0</li>
                    <li>Entity Framework Core 3.1</li>
                    <li>Hobby experience with Linux (Ubuntu, Arch and Gentoo)</li>
                    <li>Hobby experience with Docker</li>
                </ul>
            </div>
        </div>
    </div>

</section>