<section id="resume" class="about">
    <div class="container">
        <div class="section-title">
            <h2>My CV</h2>
            <h3>Get to know <span>me</span></h3>
            <p>I'm a .NET developer with a passion for clean code. You can download my CV <a href="assets/cv2020.pdf">here</a>.</p>
        </div>

        <div class="row content">
            <div class="col-lg-6 pt-4 pt-lg-0">
                <h2>Myself</h2>
                <p>I started experimenting with programming at age 8 when I got my hands on a QBasic book at the library.</p>
                <p>Fast-forward to college, where I'm studying Application Development. This is where I picked up C# and my passion for the .NET ecosystem started to grow.</p>
            </div>
        </div>
    </div>
</section>